Отчет об инсайдерской торговле

In [16]:
import numpy as np
import pandas as pd
from datetime import date

In [17]:
today = date.today()
df_insider = pd.read_csv('C:insider_trading_activity.csv')  # выгрузка данных с сайта (https://www.barchart.com/)
df_company = pd.read_csv('C:companies.csv') # dir с компаниями, которые покрываются аналитикой

In [18]:
df_company.rename(columns={'CPNG': 'Symbol'}, inplace = True)

In [19]:
df_company.head(3)

  Symbol
0   APLE
1    VFC
2    APP

In [20]:
df_insider.head(3)

,Symbol,Name,Insider Name,Title,Transaction,Shares,@Price,Trans Total,Shares After,Date
0,CMPO,Composecure Inc,David Cote,Chair,Buy,646893.0,15.4371,9986152.0,49959696.0,2025-02-14
1,PBI,Pitney Bowes Inc,Kurt James Wolf,NaN,Sell,1604678.0,9.8793,15853096.0,14186244.0,2025-02-14
2,TEAM,Atlassian Corp,Anutthara Bharadwaj,Pres.,Sell,1520.0,312.5800,475122.0,201657.0,2025-02-14

In [21]:
#оставляем только нужные для отчета поля
df_insider = df_insider[['Symbol', 'Insider Name', 'Transaction', 'Trans Total', 'Date']]

In [22]:
df_insider.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        548 non-null    object
 1   Insider Name  547 non-null    object
 2   Transaction   547 non-null    object
 3   Trans Total   547 non-null    float64
 4   Date          547 non-null    object
dtypes: float64(1), object(4)
memory usage: 21.5+ KB

In [23]:
# Оставляем типы сделок только на покупки и продажи
df_insider = df_insider[df_insider['Transaction'].isin(['Sell', 'Buy'])]

In [24]:
# сверяемся со списком компаний, которые нас интересиуют и оставляем только их
df_insider = df_insider[df_insider['Symbol'].isin(df_company['Symbol'])]

In [25]:
# округляем сумму сделки до млн
df_insider['Trans Total'] = round(df_insider['Trans Total'] / 1_000_000, 2)

In [26]:
df_insider.sort_values(by= ['Transaction', 'Symbol', 'Trans Total'], inplace=True)

In [28]:
df_insider.reset_index(inplace=True)
df_insider.drop('index', axis = 1, inplace=True)
df_insider.head()

  Symbol          Insider Name Transaction  Trans Total        Date
0   FLNC        Herman E Bulls         Buy         0.20  2025-02-13
1   ORCL  Charles W Moorman iv         Buy         0.95  2025-02-12
2    PFE     Ronald E Blaylock         Buy         0.50  2025-02-13
3   ABNB          Brian Chesky        Sell        26.74  2025-02-12
4   ABNB         Joseph Gebbia        Sell        28.94  2025-02-11

---
Выводим данные сразу в формате поста markdown, учитывая тип сделки

In [31]:
print(f'**Сделки инсайдеров {today}** \n  \n**ПОКУПКИ:**')
for i in df_insider.index:
  if df_insider.iat[i, 2] == 'Buy':
    print('✅ ', end ='')
    print(df_insider.iat[i, 0], df_insider.iat[i, 1], df_insider.iat[i, 3], 'млн$', df_insider.iat[i, 4], sep = ' | ', end='\n')
print('\n**ПРОДАЖИ:**')
for i in df_insider.index:
  if df_insider.iat[i, 2] == 'Sell' and df_insider.iat[i, 3] >= 0.1:
    print('🔻 ', end ='')
    print(df_insider.iat[i, 0], df_insider.iat[i, 1], df_insider.iat[i, 3], 'млн$', df_insider.iat[i, 4], sep = ' | ', end='\n')

**Сделки инсайдеров 2025-03-09**

**ПОКУПКИ:**
✅ FLNC | Herman E Bulls | 0.2 | млн$ | 2025-02-13
✅ ORCL | Charles W Moorman iv | 0.95 | млн$ | 2025-02-12
✅ PFE | Ronald E Blaylock | 0.5 | млн$ | 2025-02-13

**ПРОДАЖИ:**
🔻 ABNB | Brian Chesky | 26.74 | млн$ | 2025-02-12
🔻 ABNB | Joseph Gebbia | 28.94 | млн$ | 2025-02-11
🔻 AMGN | Murdo Gordon | 2.59 | млн$ | 2025-02-11
🔻 AMZN | Douglas J Herrington | 6.33 | млн$ | 2025-02-12
🔻 APD | Ahmed Hababou | 0.5 | млн$ | 2025-02-11
🔻 APD | Francesco Maione | 0.62 | млн$ | 2025-02-10
🔻 APD | Brian Galovich | 0.66 | млн$ | 2025-02-13
🔻 APD | Melissa Schaeffer | 0.99 | млн$ | 2025-02-10
🔻 CME | Kendal Vroman | 1.27 | млн$ | 2025-02-13
🔻 CME | Julie Winkler | 2.89 | млн$ | 2025-02-13
🔻 COIN | Brian Armstrong | 6.88 | млн$ | 2025-02-11
🔻 CRWD | Sameer K Gandhi | 10.7 | млн$ | 2025-02-10
🔻 EXPE | Robert J Dzielak | 0.99 | млн$ | 2025-02-12
🔻 G | Donald J Klunk | 0.23 | млн$ | 2025-02-11
🔻 G | Carol Lindstrom | 0.27 | млн$ | 2025-02-11
🔻 GRAB | Suthen Thomas Paradatheth | 0.11 | млн$ | 2025-02-12
🔻 GRAB | Ping Yeow (Anthony) Tan | 0.24 | млн$ | 2025-02-10
🔻 HAL | Eric Carre | 3.69 | млн$ | 2025-02-11
🔻 LEU | Larry B Cutlip | 0.48 | млн$ | 2025-02-12
🔻 LLY | American Shareholder | 31.18 | млн$ | 2025-02-13
🔻 MCD | Chris J Kempczinski | 3.26 | млн$ | 2025-02-11
🔻 MDB | Dwight A Merriman | 0.54 | млн$ | 2025-02-10
🔻 META | Jennifer Newstead | 0.64 | млн$ | 2025-02-11
🔻 META | Mark Zuckerberg | 25.62 | млн$ | 2025-02-10
🔻 META | Mark Zuckerberg | 28.31 | млн$ | 2025-02-12
🔻 NKE | Heidi O?Neill | 1.01 | млн$ | 2025-02-11
🔻 NOW | Paul Edward Chamberlain | 0.29 | млн$ | 2025-02-13
🔻 NOW | Larry Quinlan | 0.42 | млн$ | 2025-02-11
🔻 NU | Guilherme Marques Do Lago | 2.06 | млн$ | 2025-02-10
🔻 PLTR | Heather Planishek | 1.61 | млн$ | 2025-02-11
🔻 PM | Reginaldo Dobrowolski | 0.25 | млн$ | 2025-02-12
🔻 QCOM | Akash J Palkhiwala | 0.51 | млн$ | 2025-02-12
🔻 QCOM | Alexander H Rogers | 3.28 | млн$ | 2025-02-10
🔻 ROKU | Anthony J Wood | 2.2 | млн$ | 2025-02-10
🔻 SHOP | Kasra Nejatian | 6.04 | млн$ | 2025-02-12
🔻 SHOP | Toby David Shannan | 6.33 | млн$ | 2025-02-13
🔻 SMG | American Shareholder | 4.19 | млн$ | 2025-02-13
🔻 SPOT | Christopher Marshall | 1.57 | млн$ | 2025-02-10
🔻 SPOT | Alex Norström | 14.27 | млн$ | 2025-02-12
🔻 TTD | Jeffrey Terry Green | 48.27 | млн$ | 2025-02-11
🔻 VRTX | Jonathan Biller | 0.15 | млн$ | 2025-02-11