–û—Ç—á–µ—Ç –æ–± –∏–Ω—Å–∞–π–¥–µ—Ä—Å–∫–æ–π —Ç–æ—Ä–≥–æ–≤–ª–µ

In [16]:
import numpy as np
import pandas as pd
from datetime import date

In [17]:
today = date.today()
df_insider = pd.read_csv('C:insider_trading_activity.csv')  # –≤—ã–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö —Å —Å–∞–π—Ç–∞ (https://www.barchart.com/)
df_company = pd.read_csv('C:companies.csv') # dir —Å –∫–æ–º–ø–∞–Ω–∏—è–º–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ–∫—Ä—ã–≤–∞—é—Ç—Å—è –∞–Ω–∞–ª–∏—Ç–∏–∫–æ–π

In [18]:
df_company.rename(columns={'CPNG': 'Symbol'}, inplace = True)

In [19]:
df_company.head(3)

  Symbol
0   APLE
1    VFC
2    APP

In [20]:
df_insider.head(3)

,Symbol,Name,Insider Name,Title,Transaction,Shares,@Price,Trans Total,Shares After,Date
0,CMPO,Composecure Inc,David Cote,Chair,Buy,646893.0,15.4371,9986152.0,49959696.0,2025-02-14
1,PBI,Pitney Bowes Inc,Kurt James Wolf,NaN,Sell,1604678.0,9.8793,15853096.0,14186244.0,2025-02-14
2,TEAM,Atlassian Corp,Anutthara Bharadwaj,Pres.,Sell,1520.0,312.5800,475122.0,201657.0,2025-02-14

In [21]:
#–æ—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã–µ –¥–ª—è –æ—Ç—á–µ—Ç–∞ –ø–æ–ª—è
df_insider = df_insider[['Symbol', 'Insider Name', 'Transaction', 'Trans Total', 'Date']]

In [22]:
df_insider.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        548 non-null    object
 1   Insider Name  547 non-null    object
 2   Transaction   547 non-null    object
 3   Trans Total   547 non-null    float64
 4   Date          547 non-null    object
dtypes: float64(1), object(4)
memory usage: 21.5+ KB

In [23]:
# –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–∏–ø—ã —Å–¥–µ–ª–æ–∫ —Ç–æ–ª—å–∫–æ –Ω–∞ –ø–æ–∫—É–ø–∫–∏ –∏ –ø—Ä–æ–¥–∞–∂–∏
df_insider = df_insider[df_insider['Transaction'].isin(['Sell', 'Buy'])]

In [24]:
# —Å–≤–µ—Ä—è–µ–º—Å—è —Å–æ —Å–ø–∏—Å–∫–æ–º –∫–æ–º–ø–∞–Ω–∏–π, –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å–∏—É—é—Ç –∏ –æ—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –∏—Ö
df_insider = df_insider[df_insider['Symbol'].isin(df_company['Symbol'])]

In [25]:
# –æ–∫—Ä—É–≥–ª—è–µ–º —Å—É–º–º—É —Å–¥–µ–ª–∫–∏ –¥–æ –º–ª–Ω
df_insider['Trans Total'] = round(df_insider['Trans Total'] / 1_000_000, 2)

In [26]:
df_insider.sort_values(by= ['Transaction', 'Symbol', 'Trans Total'], inplace=True)

In [28]:
df_insider.reset_index(inplace=True)
df_insider.drop('index', axis = 1, inplace=True)
df_insider.head()

  Symbol          Insider Name Transaction  Trans Total        Date
0   FLNC        Herman E Bulls         Buy         0.20  2025-02-13
1   ORCL  Charles W Moorman iv         Buy         0.95  2025-02-12
2    PFE     Ronald E Blaylock         Buy         0.50  2025-02-13
3   ABNB          Brian Chesky        Sell        26.74  2025-02-12
4   ABNB         Joseph Gebbia        Sell        28.94  2025-02-11

---
–í—ã–≤–æ–¥–∏–º –¥–∞–Ω–Ω—ã–µ —Å—Ä–∞–∑—É –≤ —Ñ–æ—Ä–º–∞—Ç–µ –ø–æ—Å—Ç–∞ markdown, —É—á–∏—Ç—ã–≤–∞—è —Ç–∏–ø —Å–¥–µ–ª–∫–∏

In [31]:
print(f'**–°–¥–µ–ª–∫–∏ –∏–Ω—Å–∞–π–¥–µ—Ä–æ–≤ {today}** \n  \n**–ü–û–ö–£–ü–ö–ò:**')
for i in df_insider.index:
  if df_insider.iat[i, 2] == 'Buy':
    print('‚úÖ ', end ='')
    print(df_insider.iat[i, 0], df_insider.iat[i, 1], df_insider.iat[i, 3], '–º–ª–Ω$', df_insider.iat[i, 4], sep = ' | ', end='\n')
print('\n**–ü–†–û–î–ê–ñ–ò:**')
for i in df_insider.index:
  if df_insider.iat[i, 2] == 'Sell' and df_insider.iat[i, 3] >= 0.1:
    print('üîª ', end ='')
    print(df_insider.iat[i, 0], df_insider.iat[i, 1], df_insider.iat[i, 3], '–º–ª–Ω$', df_insider.iat[i, 4], sep = ' | ', end='\n')

**–°–¥–µ–ª–∫–∏ –∏–Ω—Å–∞–π–¥–µ—Ä–æ–≤ 2025-03-09**

**–ü–û–ö–£–ü–ö–ò:**
‚úÖ FLNC | Herman E Bulls | 0.2 | –º–ª–Ω$ | 2025-02-13
‚úÖ ORCL | Charles W Moorman iv | 0.95 | –º–ª–Ω$ | 2025-02-12
‚úÖ PFE | Ronald E Blaylock | 0.5 | –º–ª–Ω$ | 2025-02-13

**–ü–†–û–î–ê–ñ–ò:**
üîª ABNB | Brian Chesky | 26.74 | –º–ª–Ω$ | 2025-02-12
üîª ABNB | Joseph Gebbia | 28.94 | –º–ª–Ω$ | 2025-02-11
üîª AMGN | Murdo Gordon | 2.59 | –º–ª–Ω$ | 2025-02-11
üîª AMZN | Douglas J Herrington | 6.33 | –º–ª–Ω$ | 2025-02-12
üîª APD | Ahmed Hababou | 0.5 | –º–ª–Ω$ | 2025-02-11
üîª APD | Francesco Maione | 0.62 | –º–ª–Ω$ | 2025-02-10
üîª APD | Brian Galovich | 0.66 | –º–ª–Ω$ | 2025-02-13
üîª APD | Melissa Schaeffer | 0.99 | –º–ª–Ω$ | 2025-02-10
üîª CME | Kendal Vroman | 1.27 | –º–ª–Ω$ | 2025-02-13
üîª CME | Julie Winkler | 2.89 | –º–ª–Ω$ | 2025-02-13
üîª COIN | Brian Armstrong | 6.88 | –º–ª–Ω$ | 2025-02-11
üîª CRWD | Sameer K Gandhi | 10.7 | –º–ª–Ω$ | 2025-02-10
üîª EXPE | Robert J Dzielak | 0.99 | –º–ª–Ω$ | 2025-02-12
üîª G | Donald J Klunk | 0.23 | –º–ª–Ω$ | 2025-02-11
üîª G | Carol Lindstrom | 0.27 | –º–ª–Ω$ | 2025-02-11
üîª GRAB | Suthen Thomas Paradatheth | 0.11 | –º–ª–Ω$ | 2025-02-12
üîª GRAB | Ping Yeow (Anthony) Tan | 0.24 | –º–ª–Ω$ | 2025-02-10
üîª HAL | Eric Carre | 3.69 | –º–ª–Ω$ | 2025-02-11
üîª LEU | Larry B Cutlip | 0.48 | –º–ª–Ω$ | 2025-02-12
üîª LLY | American Shareholder | 31.18 | –º–ª–Ω$ | 2025-02-13
üîª MCD | Chris J Kempczinski | 3.26 | –º–ª–Ω$ | 2025-02-11
üîª MDB | Dwight A Merriman | 0.54 | –º–ª–Ω$ | 2025-02-10
üîª META | Jennifer Newstead | 0.64 | –º–ª–Ω$ | 2025-02-11
üîª META | Mark Zuckerberg | 25.62 | –º–ª–Ω$ | 2025-02-10
üîª META | Mark Zuckerberg | 28.31 | –º–ª–Ω$ | 2025-02-12
üîª NKE | Heidi O?Neill | 1.01 | –º–ª–Ω$ | 2025-02-11
üîª NOW | Paul Edward Chamberlain | 0.29 | –º–ª–Ω$ | 2025-02-13
üîª NOW | Larry Quinlan | 0.42 | –º–ª–Ω$ | 2025-02-11
üîª NU | Guilherme Marques Do Lago | 2.06 | –º–ª–Ω$ | 2025-02-10
üîª PLTR | Heather Planishek | 1.61 | –º–ª–Ω$ | 2025-02-11
üîª PM | Reginaldo Dobrowolski | 0.25 | –º–ª–Ω$ | 2025-02-12
üîª QCOM | Akash J Palkhiwala | 0.51 | –º–ª–Ω$ | 2025-02-12
üîª QCOM | Alexander H Rogers | 3.28 | –º–ª–Ω$ | 2025-02-10
üîª ROKU | Anthony J Wood | 2.2 | –º–ª–Ω$ | 2025-02-10
üîª SHOP | Kasra Nejatian | 6.04 | –º–ª–Ω$ | 2025-02-12
üîª SHOP | Toby David Shannan | 6.33 | –º–ª–Ω$ | 2025-02-13
üîª SMG | American Shareholder | 4.19 | –º–ª–Ω$ | 2025-02-13
üîª SPOT | Christopher Marshall | 1.57 | –º–ª–Ω$ | 2025-02-10
üîª SPOT | Alex Norstr√∂m | 14.27 | –º–ª–Ω$ | 2025-02-12
üîª TTD | Jeffrey Terry Green | 48.27 | –º–ª–Ω$ | 2025-02-11
üîª VRTX | Jonathan Biller | 0.15 | –º–ª–Ω$ | 2025-02-11